@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img  src="~/img/Home.jpg" width="70%" height="70%"/>
    <p>Learn about developer on his<a href="https://github.com/WildVileWing">github repository</a>.</p>
</div>
